<section class="about-me">
  <div class="container about-me__container">
    <div class="about-me__photo">
      <picture>
        <source srcset="img/gruppa2.webp" type="image/webp">
        <img loading="lazy" src="img/gruppa2.jpg" class="image" width="" height="" alt="Павловский Дмитрий">
      </picture>
    </div>

    <div class="about-me__info">
      <div class="about-me__header">
        <a href="https://dkpodmoskovie.ru/groups/5" class="about-me__logo" target="_blank">
          <img class="header__img" src="img/dk-new.jpg" alt="Дворец культуры подмосковье">
        </a>
        <h2 class="about-me__title">Обо мне</h2>
      </div>
      <p class="about-me__text">
        Работаю в Студии иностранных языков ДК «Подмосковье» 30 лет.
        Закончил с отличием факультет лингвистики Московского государственного открытого университета (МГОПУ) им.
        М. А. Шолохова по специальности «Филология» с присвоением квалификации
        «учитель английского, немецкого и французского языков».
      </p>
      <p class="about-me__text">
        Закончил заочную аспирантуру при МГОПУ по специальности «Методика обучения иностранному языку».
        Несколько лет работал в МГОПУ преподавателем факультета лингвистики, где проводил практические занятия по
        английскому языку, читал курсы по методике обучения иностранным языкам, осуществлял руководство выпускными
        квалификационными работами студентов факультета, одновременно работал преподавателем общефакультетской кафедры
        иностранных языков, где вёл практические занятия по английскому и французскому языку со студентами 1 и 2 курсов.
      </p>
      <a href="https://super-teacher.narod.ru/pavlovskiy.html" class="about-me__detail" target="_blank">Подробнее</a>
      <a href="https://super-teacher.narod.ru/myfile.html" class="about-me__detail" target="_blank">Дипломы и
        сертификаты</a>
    </div>
  </div>
</section>