<section class="comments">
  <div class="container comments__container">
    <h2 class="comments__title">Отзывы моих учеников</h2>
    <div class="swiper comments__swiper">

      <div class="swiper-wrapper">

        <div class="swiper-slide comments__swiper-slide">
          <img src="img/screen/1.jpg" class="comments__screen" alt="скрин отзыва">
        </div>

        <div class="swiper-slide comments__swiper-slide">
          <img src="img/screen/2.jpg" class="comments__screen" alt="скрин отзыва">

        </div>

        <div class="swiper-slide comments__swiper-slide">
          <img src="img/screen/3.jpg" class="comments__screen" alt="скрин отзыва">

        </div>

        <div class="swiper-slide comments__swiper-slide">
          <img src="img/screen/4.jpg" class="comments__screen" alt="скрин отзыва">

        </div>

        <div class="swiper-slide comments__swiper-slide">
          <img src="img/screen/5.jpg" class="comments__screen" alt="скрин отзыва">
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <button class="btn-reset comments__btn-prev">
      <svg class="">
        <use xlink:href="img/sprite.svg#left-arrow"></use>
      </svg>
    </button>
    <button class="btn-reset comments__btn-next">
      <svg class="">
        <use xlink:href="img/sprite.svg#right-arrow"></use>
      </svg>
    </button>

    <div class="comments__more">
      <a href="https://yandex.ru/maps/org/studiya_inostrannykh_yazykov_dvortsa_kultury_podmoskovye/1069470575/reviews/?ll=37.319980%2C55.823779&z=13"
        class="comments__more-link" target="_blank">
        Показать больше отзывов
      </a>
    </div>
  </div>
</section>

