<section class="doing">
  <div class="container doing__container">
    <h2 class="doing__title">Что вы <strong class="strong">получаете</strong> от занятий</h2>
    <ul class="doing__list list-reset accordion-container">
      <li class="doing__level ac js-enabled is-active">
        <button class="doing__level-title ac-header ac-trigger btn-reset">На начальном этапе
          <svg class="doing__level-icon" width="47" height="47" viewBox="0 0 50 50" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <ellipse cx="25" cy="25" rx="25" ry="25" fill="#CACACA" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M25.0571 24.0571L25.0571 9L25.9429 9L25.9429 24.0571L33.8835 24.0571L41 24.0571L41 24.9429L25.9429 24.9429L25.9429 40L25.0571 40L25.0571 24.9429L10 24.9429L10 24.0571L25.0571 24.0571Z"
              fill="none" />
          </svg>
        </button>
        <ul class="doing__sublist list-reset ac-panel">
          <li class="doing__item">знакомство с буквами и звуками иностранного языка,
            отработка правильного произношения;</li>
          <li class="doing__item">
            обучение пользованию транскрипцией (особенно английский и французский
            языки);
          </li>
          <li class="doing__item">
            обучение чтению на иностранном языке и пониманию прочитанного,
            формирование первоначального запаса слов;
          </li>
          <li class="doing__item">
            получение первоначальных сведений о грамматике;
          </li>
          <li class="doing__item">
            отработка правильного написания букв и изученных слов;
          </li>
          <li class="doing__item">
            формирование навыка воспринимать речь на иностранном языке на слух;
          </li>
          <li class="doing__item">
            формирование базовых навыков устной речи.
          </li>
        </ul>
      </li>

      <li class="doing__level ac">

        <button class="doing__level-title ac-header ac-trigger btn-reset">На среднем этапе
          <svg class="doing__level-icon" width="47" height="47" viewBox="0 0 50 50" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <ellipse cx="25" cy="25" rx="25" ry="25" fill="#CACACA" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M25.0571 24.0571L25.0571 9L25.9429 9L25.9429 24.0571L33.8835 24.0571L41 24.0571L41 24.9429L25.9429 24.9429L25.9429 40L25.0571 40L25.0571 24.9429L10 24.9429L10 24.0571L25.0571 24.0571Z"
              fill="none" />
          </svg>
        </button>
        <ul class="doing__sublist list-reset ac-panel">
          <li class="doing__item">
            систематическое освоение лексики и грамматики иностранного языка;
          </li>
          <li class="doing__item">
            совершенствование навыков чтения и
            восприятия иностранной речи на слух;
          </li>
          <li class="doing__item">
            продолжение работы по развитию устной речи;
          </li>
          <li class="doing__item">
            целенаправленная подготовка к сдаче <strong>ОГЭ</strong>
            (письменная часть, устная часть).
          </li>
        </ul>
      </li>

      <li class="doing__level ac">
        <button class="doing__level-title ac-header ac-trigger btn-reset">На продвинутом этапе
          <svg class="doing__level-icon" width="47" height="47" viewBox="0 0 50 50" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <ellipse cx="25" cy="25" rx="25" ry="25" fill="#CACACA" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M25.0571 24.0571L25.0571 9L25.9429 9L25.9429 24.0571L33.8835 24.0571L41 24.0571L41 24.9429L25.9429 24.9429L25.9429 40L25.0571 40L25.0571 24.9429L10 24.9429L10 24.0571L25.0571 24.0571Z"
              fill="none" />
          </svg>
        </button>
        <ul class="doing__sublist  list-reset ac-panel">
          <li class="doing__item">
            дальнейшее систематическое освоение лексики и грамматики иностранного
            языка;
          </li>
          <li class="doing__item">
            дальнейшее совершенствование навыков чтения и восприятия иностранной
            речи на слух;
          </li>
          <li class="doing__item">
            продолжение работы по развитию устной речи;
          </li>
          <li class="doing__item">
            целенаправленная подготовка к сдаче <strong>ЕГЭ</strong> (письменная часть, устная часть).
          </li>
        </ul>
      </li>

      <li class="doing__level ac">

        <button class="doing__level-title ac-header ac-trigger btn-reset">На каждом этапе
          <svg class="doing__level-icon" width="47" height="47" viewBox="0 0 50 50" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <ellipse cx="25" cy="25" rx="25" ry="25" fill="#CACACA" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M25.0571 24.0571L25.0571 9L25.9429 9L25.9429 24.0571L33.8835 24.0571L41 24.0571L41 24.9429L25.9429 24.9429L25.9429 40L25.0571 40L25.0571 24.9429L10 24.9429L10 24.0571L25.0571 24.0571Z"
              fill="none" />
          </svg>

        </button>
        <ul class="doing__sublist  list-reset ac-panel">
          <li class="doing__item">традиционная (классическая) методика
            с учётом современных требований;</li>
          <li class="doing__item">программа на уровне спецшколы;</li>
          <li class="doing__item">
            оптимальное сочетание занятий с преподавателем и самостоятельной работы;
          </li>
          <li class="doing__item">
            обязательные домашние задания;
          </li>
          <li class="doing__item">
            развитие интеллекта учащихся, навыков и умений самостоятельной работы;
          </li>
          <li class="doing__item">
            помощь в освоении школьной программы;
          </li>
          <li class="doing__item">
            работа над произношением на протяжении всего курса обучения;
          </li>
          <li class="doing__item">
            систематическая отработка грамматики и лексики до свободного владения;
          </li>
          <li class="doing__item">
            тренировка восприятия иностранной речи на слух на каждом занятии;
          </li>
          <li class="doing__item">
            использование видео на иностранном языке;
          </li>
          <li class="doing__item">
            индивидуальный учёт текущих промежуточных результатов обучения;
          </li>
          <li class="doing__item">
            регулярное выполнение заданий в формате ОГЭ / ЕГЭ;
          </li>
          <li class="doing__item">
            в конце каждого учебного года достигнутый уровень владения языком
            подтверждается независимым тестированием.
          </li>
        </ul>
      </li>
    </ul>
    <div class="doing__decor"></div>
  </div>
</section>