<section class="hero">
  <!-- <div class="hero__bg"></div>
  <div class="hero__overlay"></div> -->
  <div class="container hero__container hero__container--desktop">

    <div class="hero__info">
      <h1 class="hero__title">
        <span>Преподаватель иностранных языков</span>
        Дмитрий Антонович Павловский
      </h1>
      <p class="hero__text">
        Научу общаться на английском, французском, испанском, немецком, итальянском языках
      </p>
      <button class="hero__button btn btn-reset" data-graph-path="callback">Записаться</button>
    </div>
    <div class="hero__photo">
      <picture>
        <source srcset="img/da.webp" type="image/webp">
        <img loading="lazy" src="img/da.jpg" class="image" width="" height="" alt="Павловский Дмитрий">
      </picture>
    </div>
  </div>

  <div class="container hero__container hero__container--mobile">
    <h1 class="hero__title">
      <span>Преподаватель иностранных языков</span>
      Дмитрий Антонович Павловский
    </h1>
    <div class="hero__photo">
      <picture>
        <source srcset="img/da.webp" type="image/webp">
        <img loading="lazy" src="img/da.jpg" class="image" width="" height="" alt="Павловский Дмитрий">
      </picture>
    </div>
    <p class="hero__text">
      Научу общаться на английском, французском, испанском, немецком, итальянском языках
    </p>
    <button class="hero__button btn btn-reset" data-graph-path="callback">Записаться</button>
  </div>
</section>