<section class="price">
  <div class="container price__container">
    <h2 class="price__title"><strong class="strong">Стоимость</strong> занятий</h2>
    <div class="price__content">
      <h3 class="price__type">В группах</h3>
      <div class="price__description">
        <h4 class="price__students">Школьники</h4>
        <ul class="price__list list-reset">
          <li class="price__list-element">2 занятия в неделю по 45 минут — 3300 рублей в месяц
            (8 занятий)</li>
          <li class="price__list-element">1 занятие в неделю по 45 минут — 1650 рублей в месяц
            (4 занятия)</li>
        </ul>
        <h4 class="price__students">Взрослые (18+)</h4>
        <ul class="price__list list-reset">
          <li class="price__list-element">2 занятия в неделю по 45 минут — 4000 рублей в месяц
            (8 занятий)</li>
          <li class="price__list-element">1 занятие в неделю по 90 минут — 4000 рублей в месяц
            (4 занятия)</li>
          <li class="price__list-element">1 занятие в неделю по 45 минут — 2000 рублей в месяц
            (4 занятия)</li>
        </ul>
      </div>

    </div>
    <div class="price__content">
      <h3 class="price__type">Индивидуально</h3>
      <div class="price__description">
        <h4 class="price__students">Школьники / Взрослые (18+)</h4>
        <ul class="price__list list-reset">
          <li class="price__list-element">1 занятие по 45 минут — 1000 рублей (оффлайн)</li>
          <li class="price__list-element">1 занятие по 60 минут — 1000 рублей (онлайн)
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>